@import "tailwindcss";

@theme {
  --color-navy: #0A2540;
  --color-tech-blue: #0077B6;
  --color-orange: #F77F00;
  --color-light-gray: #F3F4F6;
  --color-dark: #121826;
  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--color-light-gray);
    color: #1f2937;
    font-family: var(--font-roboto);
  }
}
